-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  Edit
  = @enrollment

.card
  .card-body
    %h3
      .fa.fa-lock-open
        Add a rewiew
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show rewiew', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
