- content_for :title do
  University
  \|
  Tags

%H2
  Tags
- @tags.each do |tag|
  .row
  = tag.name
  .badge.badge-light
    = tag.course_tags_count
  - if policy(tag).destroy?
    = link_to "X", tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger"