.card
  .card-header
    %h1 Editing lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', course_lessons_path(@course, @lesson)
    \|
    = link_to 'Back to course', course_path(@lesson.course)
