-#Отображение названия статьи в заголовке страницы
- content_for :title do
  University
  \|
  Edit
  = @course.title

.card
  .card-body
    %h3
      .fa.fa-graduation-cap
        Edit course
  .card-body
    = render 'form'

= link_to 'Show', @course
\|
= link_to 'Back', courses_path
