-#Отображение названия статьи в заголовке страницы
- content_for :title do
  University
  \|
  New Course

.card
  .card-body
    %h3
      .fa.fa-graduation-cap
        New course
  .card-body
    = render 'form'

= link_to 'Back', courses_path
