@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


@import "./actiontext.scss";




body { background: #fcf8f4; }

.form-control.is-invalid{background-image: none;}
.form-control.is-valid{background-image: none;}