%hr

%footer.footer
  .container
    .row
      .col-md-4
        Copyright
        = Time.now.year
        CoursePlatform LTD
        .row
        .fa.fa-envelope
        = mail_to "support@University.com"
        .row
      .col-md-4
        = link_to "Privacy policy", privacy_policy_path
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to "Teach on University", new_course_path
%br